@{
    ViewBag.Title = "CreateTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Web.Models.CreateTagViewModel

@section Scripts{
    <script type="text/javascript" src="~/Content/Scripts/CreateTag.js">
    </script>
}

@Html.ActionLink("Back", "Create", new { id = Model.PromotionId })
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.PromotionId)
    @Html.HiddenFor(x => x.Tag)
    <table>
        <tr>
            <td class="FormLabel">@Html.LabelFor(x => x.Tag)</td>
            <td class="FormText" onclick="TagDropdownOnMouseClick();">@Html.DropDownListFor(x => x.SelectedTag, Model.AllTags, new { onblur = "onBlur(this);" })</td>
        </tr>
        <tr>
            <td colspan="2">Or</td>
        </tr>
        <tr>
            <td colspan="2">Enter new brand</td>
        </tr>
        <tr>
            <td class="FormLabel"></td>
            <td class="FormText" onclick="TagTextBoxOnMouseClick();">@Html.TextBoxFor(x => x.EnteredTag, new { onblur = "onBlur(this);" })</td>
        </tr>
    </table>
    <input type="submit" value="Add Tag" />
}
